@use "sass:string";
@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #ffffff;
$bg-color: #5356734d;
$error: red;

window.NotificationPopups {
  all: unset;
}

.notification {
  padding: 12px;
  margin: 4px 8px;
  border-radius: 14px;
  background: $bg-color;
  box-shadow: 0 0 2px 0 #f2f2f20d inset,
    0 0 0 1px #9999991a inset,
    2px 2px 1px -2px #b3b3b31a inset,
    -2px -2px 1px -2px #b3b3b31a inset,
    3px 3px 0 -3px #0000001a inset;

  .header {
    color: $fg-color;
    font-weight: 600;

    .app-icon {
      margin: 0 0.8rem 0 0;
    }

    .time {
      color: gtkalpha($fg-color, 0.5);
      font-size: 12px;
      font-weight: 400;
    }
  }

  .content {
    margin-top: 0.2rem;

    .body {
      color: $fg-color;
    }
  }
}