@define-color window_bg_color #5356734d;
@define-color accent_bg_color #53567366;
@define-color theme_fg_color #FFFFFFFF;
@define-color error_bg_color #C34043;
@define-color error_fg_color #DCD7BA;

* {
  all: unset;
  color: @theme_fg_color;
}

.normal-icons {
  -gtk-icon-size: 24px;
}

.large-icons {
  -gtk-icon-size: 28px;
}

.box-wrapper {
  background-color: #5356734d;
  border-radius: 16px;
  padding: 8px 16px;
  box-shadow: 0 0 2px 0 rgba(242, 242, 242, 0.05) inset,
    0 0 0 1px rgba(153, 153, 153, 0.1) inset,
    2px 2px 1px -2px rgba(179, 179, 179, 0.1) inset,
    -2px -2px 1px -2px rgba(179, 179, 179, 0.1) inset,
    3px 3px 0 -3px rgba(0, 0, 0, 0.1) inset;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.search-container {
  /* border-bottom: 1px solid @accent_bg_color; */
}

.input placeholder {
  opacity: 0.4;
}

.input selection {
  background: @window_bg_color;
}

.input {
  caret-color: @theme_fg_color;
  color: @theme_fg_color;
  font-size: 18px;
  padding: 10px 0px;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  padding: 10px 0px;
  border-top: 1px solid @accent_bg_color;
  border-bottom: 1px solid @accent_bg_color;
}

child {
}

.item-box {
  border-radius: 8px;
  padding: 6px 8px;
}

.item-quick-activation {
}

/* child:hover .item-box, */
child:selected .item-box {
  background: @accent_bg_color;
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 24px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  /* padding: 10px; */
  border-radius: 10px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  font-size: 12px;
  color: @theme_fg_color;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
  margin-top: 10px;
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid @theme_fg_color;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs {
  font-family: monospace;
}
