@use "sass:string";
@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$fg-color: #ffffff;
$bg-color: #5356734d;

.notification-window {
  all: unset;
  margin-right: 8px;
  padding: 12px;
  border-radius: 14px;
  background: $bg-color;
  box-shadow:
    0 0 2px 0 #f2f2f20d inset,
    0 0 0 1px #9999991a inset,
    2px 2px 1px -2px #b3b3b31a inset,
    -2px -2px 1px -2px #b3b3b31a inset,
    3px 3px 0 -3px #0000001a inset;

    
  .notification-container {
    .header {
      .title {
        font-weight: 600;
      }

      switch {
        transform: scale(0.7);
      }

      switch:checked {
        background-color: #37C957;
      }
    }

    .separator {
      margin: 4px 0px;
    }

    .notification-list {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    .placeholder {
      color: gtkalpha($fg-color, 0.5)
    }
  }
}

.item {
  padding: 4px 4px;
  margin: 0px;
  background: none;
  border-radius: 8px;
  box-shadow: none;
}

.item:hover {
  background: $bg-color;
}

scrollbar {
  transform: translateX(4px);
}